
body {
    font-family: Arial, sans-serif;
    line-height: 1.7;
    background-image: url('images/Снимок экрана 2025-11-17 195111.png'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 

    color: #ffffff;
    margin: 0;
}


header {
    background-color: #0B1B34;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #C89B3C;
}

nav a {
    font-family: Georgia, serif; 
    text-decoration: none;
    color: #C89B3C;
    margin: 0 20px;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

    nav a:hover {
        color: #ffffff;
    }


.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 20px;
}


h1, h2, h3 {
    font-family: Georgia, serif;
    color: #C89B3C;
}

header h1, .container h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2em;
    border-bottom: 2px solid #c9d1d9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.6em;
    color: #C89B3C;
}

/* --- Таблицы --- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #dfe4ea;
    padding: 15px;
    text-align: left;
}

thead {
    background-color: #0B1B34;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: rgba();
}

td img {
    max-width: 64px;
}


.champion-card {
    background: #fff;
    border: 1px solid #dfe4ea;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden; 
}

    .champion-card img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 4px solid #C89B3C;
        border-radius: 50%;
        float: left;
        margin-right: 25px;
    }

    .champion-card:nth-child(even) img {
        float: right;
        margin-right: 0;
        margin-left: 25px;
    }


textarea {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    background: #fff;
    border: 1px solid #dfe4ea;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box; 
}

button {
    padding: 12px 25px;
    font-size: 1em;
    cursor: pointer;
    background: #0B1B34;
    color: #C89B3C;
    border: 2px solid #0B1B34;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

    button:hover {
        background: #C89B3C;
        color: #0B1B34;
        border-color: #C89B3C;
    }


footer {
    text-align: center;
    margin-top: 40px;
    padding: 30px 0;
    background-color: #0B1B34;
    color: #8892b0;
}

    footer a {
        color: #C89B3C;
    }
